<h1>Profile</h1>




<div class="form-group row">
  <label for="inputUsername" class="col-sm-2 col-form-label">
    Username
  </label>
  <div class="col-sm-10">
    <input class="form-control" id="inputUsername" placeholder="Username"  [(ngModel)]="user.username">
  </div>

  <label for="inputPassword" class="col-sm-2 col-form-label">
    Password
  </label>
  <div class="col-sm-10">
    <input class="form-control" id="inputPassword" placeholder="Password"  [(ngModel)]="user.password">
  </div>

  <label for="firstName" class="col-sm-2 col-form-label">
    firstName
  </label>
  <div class="col-sm-10">
    <input class="form-control" id="firstName" placeholder="firstName"  [(ngModel)]="user.firstName">
  </div>

  <label for="lastName" class="col-sm-2 col-form-label">
    lastName
  </label>
  <div class="col-sm-10">
    <input class="form-control" id="lastName" placeholder="lastName"  [(ngModel)]="user.lastName">
  </div>

  <label for="email" class="col-sm-2 col-form-label">
    email
  </label>
  <div class="col-sm-10">
    <input class="form-control" id="email" placeholder="email"  [(ngModel)]="user.email">
  </div>

  <label for="phone" class="col-sm-2 col-form-label">
    phone
  </label>
  <div class="col-sm-10">
    <input class="form-control" id="phone" placeholder="phone"  [(ngModel)]="user.phone">
  </div>
  <label for="address" class="col-sm-2 col-form-label">
    address
  </label>
  <div class="col-sm-10">
    <input class="form-control" id="address" placeholder="address"  [(ngModel)]="user.address">
  </div>


</div>



<ul class="list-group">
    <li class="list-group-item active-module">
      <div class="row">
        <div class="col-8">
          <strong>sections list</strong>
        </div>

      </div>

    </li>
    <li *ngFor="let section of sections" class="list-group-item">
      <div class="row">
        <div class="col-8">
          <a routerLink="/course/{{section.section.courseId}}/section">{{section.section.name}}</a>

        </div>

        <div class="col-4">
          <button class="btn btn-danger" (click)="dropSection(section)">
            Drop Section
          </button>
        </div>
      </div>
    </li>

</ul>
<hr>
<h3 *ngIf="courses.length != 0">Enrolled courses: </h3>
<h3 *ngIf="courses.length == 0">Not available</h3>
<div *ngFor="let course of courses">
  <a routerLink="/course/{{course.id}}/section"><h4>title: {{course.title}}</h4></a>
</div>
<hr>

<button class="btn btn-primary btn-block "
        (click)="updateProfile()">
  Update
</button>

<button class="btn btn-danger btn-block"
        (click)="logout()">
  Logout
</button>

<button (click)="deleteProfile()" class="btn btn-dark btn-block">
  Delete Profile
</button>

<div class="row float-right">
  <a *ngIf="user.role == 'admin'" routerLink="/adminPage"><h3>Admin Page</h3></a>
  <a  routerLink="/home"><h3>Home</h3></a>
</div>

