<h1>Register</h1>

<input [(ngModel)]="username"
       placeholder="username"
       class="form-control"
/>
<input [(ngModel)]="password"
       placeholder="password"
       class="form-control"
/>

<input [(ngModel)]="password2"
       placeholder="password"
       class="form-control"
/>


<button (click)="createUser()"
        class="btn btn-success"
>
  Register
</button>
<div class="row float-right">
  <a  routerLink="/home"><h3>Home</h3></a>
  <a routerLink="/login"><h3>Login</h3></a>
</div>
